<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971640945359-agi4gafehuqq9r2qn0pp0jk0ipq6uf0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971640945359-agi4gafehuqq9r2qn0pp0jk0ipq6uf0g</string>
	<key>API_KEY</key>
	<string>AIzaSyAQhHdAVlmF5K4BLP8qEKZVW5s_8tktyTY</string>
	<key>GCM_SENDER_ID</key>
	<string>971640945359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todolist</string>
	<key>PROJECT_ID</key>
	<string>todo-list-2718a</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-2718a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971640945359:ios:7a61fa265fbcfb35da95ba</string>
</dict>
</plist>